html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.desktop {
    width: 1920px;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #141414;
    overflow: hidden;
    padding: 0;
    align-content: center;
    flex-wrap: nowrap;
    gap: 0;
    position: absolute;
    border-radius: 0px;
}

.one {
    flex-shrink: 0;
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 0px;
    align-content: center;
    flex-wrap: wrap;
    gap: 0;
    border-radius: 0px;
}

.photo1 {
    box-sizing: border-box;
    flex-shrink: 0;
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 0px 0px 0px;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: wrap;
    gap: 0;
    border-radius: 0;
    background-image: url(images/home/code.jpg);
    background-position: center center;
    background-size: cover;
}

.textbox {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 420px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px 25px 50px 25px;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: wrap;
    gap: 32px;
    border-radius: 0;
    background-color: #d1d1d1;
    background-position: center center;
    background-size: cover;
}

.wtextbox {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 125px 30px 420px;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: wrap;
    gap: 0px;
    border-radius: 0;
    background-color: #d1d1d1;
    background-position: center center;
    background-size: cover;
}

.two {
    flex-shrink: 0;
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 0;
    border-radius: 0px;
}

.wphoto2 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 35px 0px 0px 0px;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: wrap;
    gap: 64;
    border-radius: 0;
    background-image: url(images/home/books.jpg);
    background-position: center center;
    background-size: cover;
}

.photo3 {
    box-sizing: border-box;
    flex-shrink: 0;
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 0px 0px 0px;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: wrap;
    gap: 0;
    border-radius: 0;
    background-image: url(images/home/ml.jpg);
    background-position: center center;
    background-size: cover;
}

.wphoto4 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 35px 0px 0px 0px;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: wrap;
    gap: 64;
    border-radius: 0;
    background-image: url(images/home/read.jpg);
    background-position: center center;
    background-size: cover;
}

.five {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 0;
    background-image: url(images/home/openai.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0px;
}

h1 {
    flex-shrink: 0;
    width: 350px;
    height: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    font-weight: 400;
    font-style: normal;
    color: #0a0a0a;
    font-size: 41px;
    letter-spacing: 0px;
    line-height: 1.2;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

p {
    flex-shrink: 0;
    width: 333px;
    height: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 100%;
    overflow: hidden;
    color: #0a0a0a;
    position: relative;
    font-weight: 100;
    font-style: normal;
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 1.2;
    text-align:left;
    font-family: 'Roboto', sans-serif;
}

a.one:link, a.one:visited {
    background-color: white;
    color: #171a20;
    border: 3px solid #171a20;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    width: 250px;
    height: 15px;
}
  
a.one:hover, a.one:active {
    background-color: #171a20;
    color: white;
}

.buttons {
    box-sizing: border-box;
    flex-shrink: 0;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 0;
    background-color: #d1d1d1;
    background-position: center center;
    background-size: cover;
}

.wbuttons {
    box-sizing: border-box;
    flex-shrink: 0;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 0;
    background-color: #d1d1d1;
    background-position: center center;
    background-size: cover;
}

#goog-gt-tt, .goog-te-balloon-frame{
    display: none !important;
}

.goog-text-highlight{ 
    background: none !important;
    box-shadow: none !important;
}

#google_translate_element {
    width: auto;
    height: auto;
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0.9;
}

#google_translate_element {
    width: auto;
    height: auto;
    position: absolute;
    left: 20px;
    top: 20px;
    opacity: 0.9;
}

.goog-logo-link{
    display: none !important;
}

.goog-te-gadget{
    color: transparent !important;
}

.goog-te-banner-frame{
    display: none !important;
}

/* Mac 1902px and 1919px */
@media screen and (max-width: 1919px) {
    .desktop {
        width: 100%;
    }
    /* Add any additional styles for this screen size */
}

/* Macbook 768px and 1199px */
@media screen and (max-width: 1199px) {

    .desktop {
        width: 100%;
    }

    .one {
        height: 600px;
    }

    .two {
        height: 600px;
    }

    p {
        font-size: 18px;
    }

    h1 {
        font-size: 35px;
    }

    .wtextbox {
        justify-content: center;
        align-items: center;
        padding: 30px 25px 30px 20px;
        overflow: hidden;
        position: relative;
        align-content: center;
        flex-wrap: wrap;
        gap: 0px;
        border-radius: 0;
        background-color: #d1d1d1;
        background-position: center center;
        background-size: cover;
    }
}

/* iPad ve iPhone 768px (e.g., veya daha azı) */
@media screen and (max-width: 767px) {
    .desktop {
        width: 100%;
    }

    .one {
        flex-shrink: 0;
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        padding: 0px;
        align-content: center;
        flex-wrap: wrap;
        gap: 0;
        border-radius: 0px;
    }

    .two {
        flex-shrink: 0;
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        padding: 0px;
        align-content: center;
        flex-wrap: wrap;
        gap: 0;
        border-radius: 0px;
    }

    .photo1 {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 50px 0px 0px 0px;
        overflow: hidden;
        position: relative;
        align-content: center;
        flex-wrap: wrap;
        gap: 0;
        border-radius: 0;
        background-image: url(images/home/code.jpg);
        background-position: center center;
        background-size: cover;
    }

    .wphoto2 {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0px 0px 0px 0px;
        overflow: hidden;
        position: relative;
        align-content: center;
        flex-wrap: wrap;
        gap: 0;
        border-radius: 0;
        background-image: url(images/home/books.jpg);
        background-position: center center;
        background-size: cover;
    }

    .photo3 {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 0%;
        height: 0%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0px 0px 0px 0px;
        overflow: hidden;
        position: relative;
        align-content: center;
        flex-wrap: wrap;
        gap: 0;
        border-radius: 0;
        background-color: #fff;
        background-position: center center;
        background-size: cover;
    }

    .photo3q {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0px 0px 0px 0px;
        overflow: hidden;
        position: relative;
        align-content: center;
        flex-wrap: wrap;
        gap: 0;
        border-radius: 0;
        background-image: url(images/home/ml.jpg);
        background-position: center center;
        background-size: cover;
    }

    .wphoto4 {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0px 0px 0px 0px;
        overflow: hidden;
        position: relative;
        align-content: center;
        flex-wrap: wrap;
        gap: 0;
        border-radius: 0;
        background-image: url(images/home/read.jpg);
        background-position: center center;
        background-size: cover;
    }
    
    .textbox {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 20px 20px 20px;
        overflow: hidden;
        position: relative;
        align-content: center;
        flex-wrap: wrap;
        gap: 0px;
        border-radius: 0;
        background-color: #d1d1d1;
        background-position: center center;
        background-size: cover;
    }

    .wtextbox {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 20px 20px 20px;
        overflow: hidden;
        position: relative;
        align-content: center;
        flex-wrap: wrap;
        gap: 0px;
        border-radius: 0;
        background-color: #d1d1d1;
        background-position: center center;
        background-size: cover;
    }

    h1 {
        flex-shrink: 0;
        width: 100%;
        height: 50px;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        font-weight: 400;
        font-style: normal;
        color: #0a0a0a;
        font-size: 35px;
        letter-spacing: 0px;
        line-height: 1.2;
        text-align: left;
        font-family: 'Roboto', sans-serif;
    }
    
    p {
        flex-shrink: 0;
        width: 100%;
        height: 150px;
        max-width: 100%;
        overflow: hidden;
        color: #0a0a0a;
        position: relative;
        font-weight: 100;
        font-style: normal;
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 1.2;
        text-align:left;
        font-family: 'Roboto', sans-serif;
    }

    a.one:link, a.one:visited {
        background-color: white;
        color: #171a20;
        border: 3px solid #171a20;
        border-radius: 8px;
        padding: 10px 100px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        width: 50%;
        height: 15px;
    }
      
    a.one:hover, a.one:active {
        background-color: #171a20;
        color: white;
    }

    #google_translate_element {
        width: auto;
        height: auto;
        position: absolute;
        left: 20px;
        top: 20px;
        opacity: 0.9;
    }

    .buttons {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0px 0px 0px 0px;
        overflow: hidden;
        position: relative;
        align-content: center;
        flex-wrap: wrap;
        gap: 10px;
        border-radius: 0;
        background-color: #d1d1d1;
        background-position: center center;
        background-size: cover;
    }

}