<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UnivacAI</title>
    <link rel="icon" href="https://raw.githubusercontent.com/oceandi/links/main/univacai/images/logo/logo01.ico">
    <!-- Dinamik olarak stil dosyalarını ekleyin -->
    {% if session %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    {% endif %}
</head>
<body>
    {% if session %}
    <!-- index.html içeriği buraya -->
    <div class="desktop">
        <div class="container">
            <div class="chat-box">
                <!-- Sohbet kutusu içeriği burada -->
            </div>
            <div class="form-group">
                <textarea id="message-input" class="form-control" placeholder="Message UnivacAI…"></textarea>
                <button id="send-btn" class="btn"><svg class="send-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/></svg></button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

    {% else %}
    <!-- login.html içeriği buraya -->
    <div class="container">
        <div class="left"></div>
        <div class="right">
            <div class="get">
                <h2>Get started</h2>
                <div class="buttons">
                    <a href="{{ url_for('auth0_login') }}">
                        <button id="login">Log in</button>
                    </a>
                    <a href="{{ url_for('auth0_login') }}">
                        <button id="signup">Sign up</button>
                    </a>
                </div>
            </div>
            <div class="info">
                <div class="univac">
                    <img src="https://raw.githubusercontent.com/oceandi/links/main/univacai/images/logo/vn.png">
                </div>
                <div class="policy">
                    <a rel="noreferrer" class="cursor-pointer font-normal underline" target="_blank" href="https://www.univacai.com/static/policies/terms.html">Terms of use</a>
                    <span class="text-gray-600">|</span>
                    <a rel="noreferrer" class="cursor-pointer font-normal underline" target="_blank" href="https://www.univacai.com/static/policies/privacy.html">Privacy policy</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('login').addEventListener('click', function() {
        });

        document.getElementById('signup').addEventListener('click', function() {
        });
    </script>
    {% endif %}
</body>
</html>
